Task 1: Data Cleaning and Preprocessing

In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('Downloads/Sales-Export_2019-2020.csv')

In [29]:
df.head()

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,"17,524.02",14122.61,2/12/2020,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466
1,Finland,"116,563.40",92807.78,9/26/2019,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323
2,Portugal,"296,465.56",257480.34,7/11/2019,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341
3,Portugal,"74,532.02",59752.32,4/2/2020,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183
4,Spain,"178,763.42",146621.76,12/22/2019,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160

In [34]:
print("Shape:", df.shape)
print("Column Names:", df.columns.tolist())
print("\nMissing Values:\n", df.isnull().sum())
print("\nData Types:\n", df.dtypes)
print("\nFirst 5 Rows:\n", df.head())

Shape: (1000, 10)
Column Names: ['country', ' order_value_EUR ', ' cost ', 'date', 'category', 'customer_name', 'sales_manager', 'sales_rep', 'device_type', 'order_id']

Missing Values:
 country              0
 order_value_EUR     0
 cost                0
date                 0
category             0
customer_name        0
sales_manager        0
sales_rep            0
device_type          0
order_id             0
dtype: int64

Data Types:
 country               object
 order_value_EUR      object
 cost                float64
date                  object
category              object
customer_name         object
sales_manager         object
sales_rep             object
device_type           object
order_id              object
dtype: object

First 5 Rows:
     country  order_value_EUR       cost         date  category  \
0    Sweden         17,524.02   14122.61   2/12/2020     Books
1   Finland        116,563.40   92807.78   9/26/2019     Games
2  Portugal        296,465.56  257480.34   7/11/2019  Clothing
3  Portugal         74,532.02   59752.32    4/2/2020    Beauty
4     Spain        178,763.42  146621.76  12/22/2019     Games

       customer_name    sales_manager           sales_rep device_type  \
0    Goldner-Dibbert     Maxie Marrow       Madelon Bront      Mobile
1   Hilll-Vandervort       Hube Corey         Wat Bowkley      Mobile
2     Larkin-Collier  Celine Tumasian  Smitty Culverhouse          PC
3  Hessel-Stiedemann  Celine Tumasian        Aurelie Wren          PC
4     Johns and Sons     Emalia Dinse     Bertha Walbrook      Tablet

     order_id
0  70-0511466
1  28-6585323
2  58-7703341
3  14-6700183
4  15-8765160

Cleaning Column Names

In [38]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_', regex=False).str.replace(r'[^\w]', '', regex=True)

Handling Missing Values

In [45]:
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
country            0
order_value_eur    0
cost               0
date               0
category           0
customer_name      0
sales_manager      0
sales_rep          0
device_type        0
order_id           0
dtype: int64

In [42]:
df = df.dropna(subset=['customer_name', 'device_type'])

In [43]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

Remove Duplicates

In [44]:
df = df.drop_duplicates()

Standardize Strings

In [46]:
if 'customer_name' in df.columns:
    df['customer_name'] = df['customer_name'].str.lower().str.strip()

Fixing Data Types

In [47]:
df['order_value_eur'] = df['order_value_eur'].replace('[\€,]', '', regex=True)
df['order_value_eur'] = pd.to_numeric(df['order_value_eur'], errors='coerce')

In [48]:
df['date'] = pd.to_datetime(df['date'], errors='coerce', dayfirst=True)

Calculated Column for profit

In [50]:
df['profit'] = df['order_value_eur'] - df['cost']

In [51]:
df.head()

,country,order_value_eur,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id,profit
0,Sweden,17524.02,14122.61,2020-02-12,Books,goldner-dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466,3401.41
1,Finland,116563.40,92807.78,2019-09-26,Games,hilll-vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323,23755.62
2,Portugal,296465.56,257480.34,2019-07-11,Clothing,larkin-collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341,38985.22
3,Portugal,74532.02,59752.32,2020-04-02,Beauty,hessel-stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183,14779.70
4,Spain,178763.42,146621.76,2019-12-22,Games,johns and sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160,32141.66

In [54]:
df.to_csv('CLEANED_Sales-Export_2019-2020.csv', index=False)
print("Cleaned data saved as 'CLEANED_Sales-Export_2019-2020.csv'")

Cleaned data saved as 'CLEANED_Sales-Export_2019-2020.csv'